<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a04557105114.horaonibus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetalhesEmpresa"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Cadrastro"
            android:label=""
            android:theme="@style/Theme.AppCompat.DayNight.Dialog">
        </activity>
        <activity android:name=".Consulta"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Img">
        </activity>

    </application>

</manifest>